.errormsg {
    width: 100%;
    margin-top:.25rem;
    font-size:92%;
    color:#dc3545;
  }
  #logout{
    right: -56px !important;
    left: inherit !important;

  }
  .errorMsg{
    margin:-9px 0px 6px 5px
  }
  #vendor-head{
    font-size: 24px;
  }

  .parsley-errors-list{
    margin:1px 0 6px !important;
  }

  .cancelButton{
    margin:0px 0px 0px 10px;
  }
  .login-page{
    background: #d7dbe6ed !important;
  }

  .label_class{
    max-width: 13% !important;
  }

  .navbar-nav>.user-menu .user-image {
    border-radius: 50%;
    float: left;
    height: 2.1rem;
    width: 2.1rem;
    margin-top: 1px!important;
    margin-right: 2px !important;
    margin-left: 10px;
  }

  .dropdown-menu-lg .dropdown-item {
    padding: .5rem 1rem;
    height: 65px;
  }

  .dropdown-menu-lg {
    max-width: 300px;
    min-width: 310px;
    padding: 0;
}

.dropdown-header, .dropdown-footer {
    height: auto!important;
  }

 .headerModal{
   background-color:#0062cc;
   border-color:#0062cc;
   color:white;
}
.closeButton{
  color:white;
}
#imgCaptcha{
  height: 60px;
}