.errormsg {
    width: 100%;
    margin-top:.25rem;
    font-size:92%;
    color:#dc3545;
  }
  #logout{
    right: -56px !important;
    left: inherit !important;

  }
  .errorMsg{
    margin:-9px 0px 6px 5px
  }
  #vendor-head{
    font-size: 24px;
  }

  .parsley-errors-list{
    margin:1px 0 6px !important;
  }
  .label_class{
    max-width: 13% !important;
  }
  .cancelButton{
    margin:0px 0px 0px 10px;
  }